In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dilans_data.csv', sep=';')

In [4]:
df.head()

                  time  type    country            id platform      continent
0  2018-01-01 00:01:01  read  country_7  2.458151e+09      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2.458151e+09      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2.458151e+09  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2.458151e+09  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2.458151e+09   Reddit  North America

In [5]:
df[['country', 'country_id']] = df['country'].str.split('_', 1, expand=True)
df.head()

,time,type,country,id,platform,continent,country_id
0,2018-01-01 00:01:01,read,country,2.458151e+09,SEO,North America,7
1,2018-01-01 00:03:20,read,country,2.458151e+09,SEO,South America,7
2,2018-01-01 00:04:01,read,country,2.458151e+09,AdWords,Africa,7
3,2018-01-01 00:04:02,read,country,2.458151e+09,AdWords,Europe,7
4,2018-01-01 00:05:03,read,country,2.458151e+09,Reddit,North America,8

In [1]:
df[['year', 'month', 'day']] = df['time'].str.split(expand=True)

NameError: name 'df' is not defined

In [ ]:
df.drop('country', axis=1, inplace=True)
df.head(40)

In [ ]:
df['country_id'] = pd.to_numeric(df['country_id'])
df['country_id'] = df['country_id'].astype("Int64")
df.dtypes

In [ ]:
df.head(50)