In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('dilans_data.csv', sep=';')

In [6]:
df.head()

   2018-01-01 00:01:01  read  country_7    2458151261      SEO  North America
0  2018-01-01 00:03:20  read  country_7  2.458151e+09      SEO  South America
1  2018-01-01 00:04:01  read  country_7  2.458151e+09  AdWords         Africa
2  2018-01-01 00:04:02  read  country_7  2.458151e+09  AdWords         Europe
3  2018-01-01 00:05:03  read  country_8  2.458151e+09   Reddit  North America
4  2018-01-01 00:05:42  read  country_6  2.458151e+09   Reddit  North America

In [7]:
df.dtypes

2018-01-01 00:01:01     object
read                    object
country_7               object
2458151261             float64
SEO                     object
North America           object
dtype: object